$font-family-sans-serif: "Lato", sans-serif;

$header-bg-color: #212121;

$history-font-color: #d98192;
$result-font-color: #fff;

$equals-button-bg-color: #e62f89;
$divide-button-bg-color: #9156e1;
$multiply-button-bg-color: #8d52dd;
$minus-button-bg-color: #894ed9;
$plus-button-bg-color: #8547d9;

$equals-button-hover-bg-color: #d71978;
$operators-hover-bg-color: #7333cc;

$number-button-bg-color: #f7f7f7;
